version: "3.8"

services:

  reverse-proxy:
    image: nginx:alpine
    container_name: reverse-proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

  frontend:
    image: albin666/mean-frontend:latest
    container_name: frontend
    restart: always

  backend:
    image: albin666/mean-backend:latest
    container_name: backend
    environment:
      - MONGO_URL=mongodb://mongo:27017/tutorials_db
    restart: always
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: